<div>
    <button appKeyboardKey="1"></button>
    <button appKeyboardKey="2"></button>
    <button appKeyboardKey="3"></button>
</div>
<div>
    <button appKeyboardKey="4"></button>
    <button appKeyboardKey="5"></button>
    <button appKeyboardKey="6"></button>
</div>
<div>
  <button appKeyboardKey="7"></button>
  <button appKeyboardKey="8"></button>
  <button appKeyboardKey="9"></button>
</div>
<div>
  <button appKeyboardKey="+"></button>
  <button appKeyboardKey="0"></button>
  <button class="special" (click)="onBackspace()">
    <span iconName="backspace"></span>      
  </button>
</div>
<div>
  <button appKeyboardKey="" class="hidden"></button>
  <button appKeyboardKey="" class="hidden"></button>
  <button appKeyboardKey="" class="hidden"></button>
</div>