:host {
    display: grid;
    place-items: center;
    height: 100%;
}

h3,
p {
    margin: 0;
    text-align: center;
}

.content {
    display: grid;
    justify-content: center;
    gap: 24px;
}

.update {
    display: grid;
    place-items: center;
    gap: 24px;
    background: #000;
    color: #fff;
    padding: 16px 24px;
}