<div>
    <button appKeyboardKey="й 1 ["></button>
    <button appKeyboardKey="ц 2 ]"></button>
    <button appKeyboardKey="у 3 {"></button>
    <button appKeyboardKey="к 4 }"></button>
    <button appKeyboardKey="е 5 #"></button>
    <button appKeyboardKey="н 6 %"></button>
    <button appKeyboardKey="г 7 ^"></button>
    <button appKeyboardKey="ш 8 *"></button>
    <button appKeyboardKey="щ 9 +"></button>
    <button appKeyboardKey="з 0 ="></button>
    <button appKeyboardKey="х    "></button>
    <button appKeyboardKey="ъ    "></button>
</div>
<div>
    <button appKeyboardKey="ф - _"></button>
    <button appKeyboardKey="ы / \"></button>
    <button appKeyboardKey="в : |"></button>
    <button appKeyboardKey="а ; ~"></button>
    <button appKeyboardKey="п ( &lt;"></button>
    <button appKeyboardKey="р ) &gt;"></button>
    <button appKeyboardKey="о $ &euro;"></button>
    <button appKeyboardKey="л & &pound;"></button>
    <button appKeyboardKey="д @ &yen;"></button>
    <button appKeyboardKey="ж    "></button>
    <button appKeyboardKey="э    "></button>
</div>
<div>
    <button class="special" (click)="onShift()" [class.toggled]="keyboard.shift">
      {{ keyboard.alt ? '#+=' : 'Shift' }}
    </button>
    <button appKeyboardKey='я " "'></button>
    <button appKeyboardKey="ч . ."></button>
    <button appKeyboardKey="с , ,"></button>
    <button appKeyboardKey="м ? ?"></button>
    <button appKeyboardKey="и ! !"></button>
    <button appKeyboardKey="т ' '"></button>
    <button appKeyboardKey="ь ` `"></button>
    <button appKeyboardKey="б    "></button>
    <button appKeyboardKey="ю    "></button>
    <button class="special" (click)="onBackspace()">Del</button>
</div>
<div>
    <button class="special" (click)="onAlt()">
      {{ keyboard.alt ? 'ABC' : '123' }}
    </button>
    <button class="spacebar" appKeyboardKey="&nbsp; &nbsp; &nbsp;"></button>
    <button class="special wide" (click)="onEnter()">Enter</button>
</div>